---
layout: core
---

<div id="content" class="site-content">
  <div class="section-wrapper">

    <h1 class="entry-title page-title block content-1170 center-relative">
      Über <b>Projekt</b>
    </h1>

    <img class="title-logo center-relative block" src="{{ site.url }}{{ site.baseurl }}/assets/img/utils/divider_01.png" alt="">

<!--    <div class="content-wrapper block content-1170 center-relative">-->
<!--      <div class="one_half">-->
<!--        text -->
<!--      </div>-->
<!--      <div class="one_half last">-->
<!--       text 2 -->
<!--      </div>-->
<!--      <div class="clear"></div>-->
<!--    </div>-->

    <div class="full-page-width center-relative top-30 bottom-100">
      <div id="" class="image-slider-wrapper relative swiper-container">
        <div class="swiper-wrapper image-slider slider">
          <div class="swiper-slide">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/backgrounds/about/fs.png" alt="">
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="content-1170 center-relative">

      <div class="one_half">
        <p>
          <strong>Über fs2019.tk</strong>
        </p>
        <p>
          Das ist einfach mein personal Web-Script für <b>Formale Systeme</b> Module.
        </p>
        <p>
          Auf diese Webseite sammel ich <b>Übungen</b> und <b>Erklärungen</b> für Schwiriege Konzepten in der
          Benutzer-freundlichen Oberfläche.
        </p>
        <p>
          Wenn Sie <b>Ideen</b> für neue Projekte haben oder <b>eine Webseite</b> von mir bestellen möchten
          die KontaktInformation können Sie unten oder auf Kontakt Seite finden.
        </p>
        <p>
          Alle Texten und Übungen sind <b>nicht</b> von mir. Wenn Sie Rechte auf dieses Inhalt haben kontaktieren
          Sie bitte mit mir durch E-Mail.
        </p>
      </div>

      <div class="one_half last">
        <ul class="archive-list">
          <li>
            <span>v 0.5 &nbsp; · &nbsp; </span> Mehr Content (current).
          </li>
          <li>
            <span>v 0.4 &nbsp; · &nbsp; </span> Redesign.
          </li>
          <li>
            <span>v 0.3 &nbsp; · &nbsp; </span> Refactor & Reorganize.
          </li>
          <li>
            <span>v 0.2 &nbsp; · &nbsp; </span> Adaptivity.
          </li>
          <li>
            <span>v 0.1 &nbsp; · &nbsp; </span> Erste Schritte.
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
