<!-- Javascripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/plugins.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>

<script>
    MathJax = {
        tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},
        svg: {fontCache: 'global'}
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>