
<!--Load JavaScript-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.js"></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/jquery.smartmenus.min.js'></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/imagesloaded.pkgd.js'></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/isotope.pkgd.js'></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/jquery.fitvids.js'></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/swiper.min.js'></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/main.js'></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
<script>
    MathJax = {
        tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},
        svg: {fontCache: 'global'}
    };
</script>