<head>
    <title>Formale Systeme</title>
    <meta charset="UTF-8">
    <meta name="description" content="Formale Systeme Conspect">
    <meta name="keywords" content="Formale Systeme, fs2019">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/img/favicon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/font/stylesheet.css"/>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css"/>

    <!-- Font icons -->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/icon-fonts/flat-icon/flaticon.css"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap" rel="stylesheet">

</head>