<head>
    <title>Formale Systeme</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Formale Systeme script by ArtemSer" />
    <meta name="keywords" content="Formale Systeme, TU Dresden" />
    <meta name="author" content="ArtemSer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Work%20Sans:400,500,700,900%7CPT%20Serif%7CRoboto:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"  href='{{ site.url }}{{ site.baseurl }}/assets/css/style.css' />
    <link rel="stylesheet" type="text/css"  href='{{ site.url }}{{ site.baseurl }}/assets/css/plugins/awesome.css' />
    <link rel="stylesheet" type="text/css"  href='{{ site.url }}{{ site.baseurl }}/assets/css/plugins/swiper.min.css' />
</head>
