sass:
  sass_dir: _sass

collections:
  pages:
    output: true
    permalink: /:path/

permalink: pretty

defaults:
-
  scope:
    path: ""
    type: "pages"
  values:
    addons: "single single-post"