/**
    Author : ArtemSer
    Copyright 2019

/* Table of Content
==================================================

    1. Body and Core Css
    2. Home Section
    3. About Section
    4. Portfolio Section
    5. News Page
    6. Contact Page
    6. Color 
    7. Responsive
*/ 

@import url("margins.css");
@import url("reset.css");
@import url("assets.css");


/*------------------------ 1 Body and Core Css ------------------------*/   
html, body {
  position: relative;
}

body{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 206px;
}

p{
  font-size: 16px;
  line-height: 30px;
}

button{
  font-family: 'Poppins', sans-serif;
  border: 0;
}

.wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.container{
  width: 900px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#preloader {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

#preloader .logo{
margin-bottom: 10px;
}

#preloader.loaded .loading-area {
  opacity: 0;
}

#preloader.loaded{
  visibility: hidden;
}

#preloader .loading-area {
  opacity: 1;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #828282;
}

#preloader .loading-area img{
  height: 45px;
}

#preloader.loaded .left-side {
  transform: translateX(-100%);
  transition-delay: 1s;
}

#preloader .left-side {
  left: 0;
}

#preloader.loaded .right-side {
  transform: translateX(100%);
  transition-delay: 1s;
}

#preloader .right-side {
  right: 0;
}

#preloader .left-side, #preloader .right-side {
  background: #111;
  height: 100%;
  position: absolute;
  width: 51%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

/* Nav Icon */
.nav-icon {
  float: right;
  width: 34px;
  height: 18px;
  top: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon:hover span:nth-child(3){
  width: 100%;
}

.nav-icon span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.nav-icon span:nth-child(2) {
top: 7px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.nav-icon span:nth-child(3) {
top: 14px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;    
width: 60%;
right: 0 !important;
}


/* Menu When Open */

header.open .nav-icon span{
  width: 70%; 
}

header.open .nav-icon:hover span:nth-child(3){
  width: 70%;
}

header.open .nav-icon span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

header.open .nav-icon span:nth-child(2) {
width: 0%;
opacity: 0;
}

header.open .nav-icon span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 17px;
left: 8px;
}

header{
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 15px;
  padding-left: 120px;
  padding-right: 120px;
  z-index: 100;
}

header.fixed{
  position: fixed;
  background: #000;
}

header .logo{
  float: left;
}

header .logo img{
  max-height: 50px;
}

header nav{
  float: right;
}

header nav ul li{
  float: left;
  margin-left: 30px;
  font-size: 33px;
}


header nav ul li a span:before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
}

header nav ul li a span {
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transform-origin: 100% 0%;
}

header nav ul li:hover a span {
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
transform-origin: 0% 0%;
}

header nav ul li a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  display: inline-block;
}

header nav ul li a:hover{
  color: #fff;
}

header .active{
  color: #fff;
  opacity: .5;
}

header nav ul li a:focus{
  color: #fff;
}

/* Loader */
.loader {
  height: 32px;
  width: 32px;
  -webkit-animation: loader-1-1 4.8s linear infinite;
  animation: loader-1-1 4.8s linear infinite;
}

@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(0, 32px, 32px, 16px);
  -webkit-animation: loader-2 1.2s linear infinite;
  animation: loader-2 1.2s linear infinite;
}

@-webkit-keyframes loader-2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}
@keyframes loader-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(0, 32px, 32px, 16px);
  border: 3px solid #111;
  border-radius: 50%;
  -webkit-animation: loader-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-3 {
  0% {
    -webkit-transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
  }
}
@keyframes loader-3 {
  0% {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(140deg);
  }
}

#infscr-loading {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 10px;
}

#infscr-loading img {
  display: none;
}


/*------------------------ Home Section ------------------------*/   

.hero {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(../img/slider-1.jpg) center center no-repeat;
  background-size: cover;
}

.hero .social{
  position: absolute;
  z-index: 10;
  right: 45px;
  bottom: 45px;
}

.hero .static-image{
  height: 100%;
  background-size: cover;
  display: table;
  width: 100%;
}

.hero .static-image:before{
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero .static-image .slider-content{
  position: relative;
  z-index: 2;
  text-align: left;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.hero .static-image .slider-content h1{
  opacity: 1;
}

.hero .static-image .slider-content span{
  opacity: 1;
}

.hero .static-image .slider-content .site-btn{
  opacity: 1;
}

.hero .static-image.typed h1 span{
  font-size: inherit;
  transform: none;
}

.hero .static-image.typed h1 span:before{
  display: none;
}

.hero .social a{
  margin-left: 30px;
}

.social a{
  color: #fff;
  font-size: 15px;
}

.swiper-slide:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40);
  top: 0;
  z-index: 1;
}

.swiper-pagination{
  text-align: left;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
  left: 30px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: .7;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 45px;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 15px 0;
  display: block;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
}

.slider-content{
  position: relative;
  z-index: 2;
  text-align: left;
  width: 80%;
}

.slider-content h1{
  color: #fff;
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  opacity: 0;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

.slider-content span{
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  bottom: 5px;
  opacity: 0;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  display: inline-block;
}

.slider-content span:before{
  content: '';
  width: 40px;
  height: 3px;
  position: absolute;
  top: -17px;
}

.site-btn{
  display: inline-block;
  border: 0;
  font-weight: 600;
  padding: 13px 36px;
  color: #fff;
  font-size: 15px;
  line-height: 23px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all  ease 0.3s;
}

.site-btn:hover{
  color: #fff;
}

.slider-content .site-btn{
  margin-top: 30px;
  display: inline-block;
  opacity: 0;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

.swiper-slide-active .slider-content h1{
  opacity: 1;
  transform: translateX(0);
  letter-spacing: -3px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: all ease 0.3s 0.6s;
  -webkit-transition: all ease 0.3s 0.6s;
  -moz-transition: all ease 0.3s 0.6s;
  -ms-transition: all ease 0.3s 0.6s;
  -o-transition: all ease 0.3s 0.6s;
}

.swiper-slide-active .slider-content span{
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: all ease 0.3s 0.5s;
  -webkit-transition: all ease 0.3s 0.5s;
  -moz-transition: all ease 0.3s 0.5s;
  -ms-transition: all ease 0.3s 0.5s;
  -o-transition: all ease 0.3s 0.5s;
}

.swiper-slide-active .slider-content .site-btn{
  opacity: 1;
  transform: translateX(0);
  transition-property: transform,opacity;
  -webkit-transition-property: transform,opacity;
  -moz-transition-property: transform,opacity;
  -ms-transition-property: transform,opacity;
  -o-transition-property: transform,opacity;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-delay: .8s;
  -moz-transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -o-transition-delay: .8s;
  -ms-transition-delay: .8s;
  
}
.carousel .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 100vh;
  text-align: center;
}

.carousel .slider-content{
  text-align: center;
}

.carousel .slider-content span:before {
  content: '';
  width: 40px;
  height: 3px;
  position: absolute;
  top: -17px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cover-slide.swiper-container {
  width: 100%;
  padding-top: 10vh;
}
.cover-slide .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 80%;
}

.hb-left {
  float: left;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 45px;
  left: 45px;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.text-rotate {
  overflow: hidden;
  position: relative;
  height: 20px;
  cursor:pointer;
}

.text-rotate span {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;		
}

.text-rotate span {
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes move {
  0%  { top: 0; }
  50% { top: -20px; }
}

.section-title{
  padding-top: 30px;
  position: relative;
}

.section-title .title{
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1px;
}

.section-title span{
  font-weight: 600;
  font-size: 18px;
}

.section-title:before{
  content: '';
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
}

section{
  padding: 90px 0;
}

.graybg{
  background: #f3f3f3;
}


/*------------------------ About Section Css ------------------------*/   

.about{
   width: 100%;
}

.about .image figure img{
    width: 100%;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.about .image figure img:hover{
  box-shadow: 0 0 158px 0 rgba(0, 0, 0, 0.25);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.about .text p{
  padding-right: 45px;
}

.second-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 13px;
}

.about .infos .info p, .services .service p {
  font-size: 14px;
  line-height: 24px;
}

.service{
  background: #f3f3f3;
  padding: 30px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-top: 30px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.service:hover{
  color: #fff;
}

.service i:before{
  font-size: 60px;
  margin-left: 0;
}

.service .second-title{
  margin-top: 30px;
}

.counter {
  border-top: solid 1px #dfdfdf;
  padding-top: 45px;
}

.counter-value {
  font-size: 52px;
  font-weight: 700;
  float: left;
}

.counter .title{
  font-size: 15px;
  float: left;
  line-height: 19px;
  padding-left: 13px;
  padding-top: 20px;
}

.testimonials .item{
  text-align: center;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 40px;
}

.testimonials .item figure img{
  max-width: 90px;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.testimonials .item .name {
  margin: 30px 0px 6px;
}

.testimonials .item .title{
  font-size: 18px;
  font-weight: 600;
  line-height: 1px;
}

.testimonials .item span{
  font-size: 13px;
}

.testimonials .item p{
  font-size: 13px;
  line-height: 22px;
}

.testimonials .outitem{
  background: #efefef;
  padding: 40px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.testimonials{
  padding: 30px 0;
}


/*------------------------ Portfolio ------------------------*/ 

.portfolio_filter{
  margin-top: 64px;
  float: right;
  margin-right: 25px;
}

.portfolio .site-btn{
  margin-top: 30px;
}

.masonry{
  width: 100%;
  display: inline-block;
}

.portfolio .section-title{
  float: left;
  padding-bottom: 45px;
}

.select-cat{
  font-weight: 600 !important;
}

.portfolio_filter ul{
  float: right;
}

.align-left .portfolio_filter ul{
  float: left;
} 

.portfolio_filter ul li{
  list-style: none;
  float: left;
}

.portfolio_filter ul li a{
  font-size: 15px;
  color: #000;
  font-weight: 400;
  margin-right: 30px;
}

.portfolio_filter ul li:last-child a{
  margin-right: 0;
}

.portfolio-item{
  margin-bottom: 30px;
}

.grid-item .portfolio-item img{
  width: 100%;
}

.grid-item .portfolio-item{
  position: relative;
  overflow: hidden;   
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.grid-item .portfolio-item figcaption{
  position: absolute;
  bottom: 0;   
  text-align: left;
  color: #000;    
  left: 35px;
  bottom: 30px;
  z-index: 1;
}

.grid-item .portfolio-item figcaption .title{
  font-size: 22.5px;
  font-weight: 600;
  margin: 0;
  line-height: 17px;
}

.grid-item .portfolio-item figcaption span{
  font-size: 10px;    
  display: inline-block;
  color: #fff;
}

.grid-item.video-icon .portfolio-item:before{
  content: '\f04b';
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #000;
  padding: 17px 20px;
  border-radius: 50px;
  color: #fff;
}

.grid-item.link-icon .portfolio-item:before{
  content: '\f35d';
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #000;
  padding: 15px 18px;
  border-radius: 50px;
  color: #fff;
}

.grid-item.lightbox-icon .portfolio-item:before{
content: '\f03e';
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #000;
  padding: 14px 18px;
  border-radius: 50px;
  color: #fff;
}

/* Hover */

.grid-item:hover .portfolio-item:before{
  z-index: 1;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.grid-item:hover > .portfolio-item figcaption{
  visibility: visible;
}


.grid-item:hover .portfolio-item figcaption .title{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transition: all ease 0.3s 0.4s;
  -webkit-transition: all ease 0.3s 0.4s;
  -moz-transition: all ease 0.3s 0.4s;
  opacity: 1;
}


.grid-item .portfolio-item figcaption span{
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  opacity: 0;
}

.grid-item .portfolio-item figcaption .title{
  color: #fff;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transition: all ease 0.3s 0.1s;
  -webkit-transition: all ease 0.3s 0.1s;
  -moz-transition: all ease 0.3s 0.1s;
  opacity: 0;
}

.grid-item .portfolio-item:before{
  z-index: 1;
  transition: all ease 0.3s 0.2s;
  -webkit-transition: all ease 0.3s 0.2s;
  -moz-transition: all ease 0.3s 0.2s;
}

.grid-item .portfolio-item img{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.grid-item:hover .portfolio-item figcaption span{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  opacity: 1;
  transition: all ease 0.3s 0.53s;
  -webkit-transition: all ease 0.3s 0.53s;
  -moz-transition: all ease 0.3s 0.53s;
}

.grid-item:hover .portfolio-item img{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.grid-item .portfolio-item:after{
  content: '';
  background: rgba(0, 0, 0, 0.70);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease 0.3s 0.4s;
  -webkit-transition: all ease 0.3s 0.4s;
  -moz-transition: all ease 0.3s 0.4s;
  /*transform: translateX(-100%);*/
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  webkit-border-radius: 8px;
}

.grid-item:hover .portfolio-item:after{
  /*transform: translateX(0);*/
  opacity: 1;
  visibility: visible;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
}

.subpage .section-title{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
}

.dark .project-detail .section-title, .dark .subpage .section-title{
  color: #fff;
}

.dark p, .dark .next-link .nav-title, .dark .next-link .next-title  {
    color: #fff;
}

.categories-list{
   padding: 60px 0;
   border-top: 1px solid #dfdfdf;
   border-bottom: 1px solid #dfdfdf;
}

.categories-list li{
   float: left;
   list-style: none;
   font-size: 16px;
   text-align: center;
   font-weight: 500;
}

.dark .categories-list li{
   color: #fff;
}

.dark .categories-list {
   border-top: 1px solid #585858;
   border-bottom: 1px solid #585858;
}

.categories-list li span{
   font-weight: 600;
}

.lightbox .image img{
  width: 100%;
}

.next-link {
  text-decoration: none;
  overflow: hidden;
  height: 54px;
  display: inline-block;
  margin: 120px auto 30px;
  width: 100%;
  text-align: center;
}

.next-link .next-title, .next-link .nav-title {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}

.next-link .nav-title {
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.next-link .next-title {
  color: #000;
  font-size: 34px;
  font-weight: 600;
}

.next-link:hover .next-title, .next-link:hover .nav-title {
  transform: translateY(-130%);
  -webkit-transform: translateY(-130%);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}

.newsletter{
  position: relative;
  width: 100%;
  background: url(../img/bg-image.jpg) center center no-repeat fixed;
  background-size: cover;
}

.newsletter:before{
  content: '';
  background: rgba(0, 0, 0, 0.548);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.newsletter .section-title{
  margin-bottom: 23px;    
  margin-top: 0;
}

.section-title.center{
  text-align: center;
}

.section-title.center:before {
  right:0;
  margin: 0 auto;
}

.imagebg .section-title{
  color: #fff;
}

.imagebg span{
  color: rgba(255, 255, 255, 0.6);
}

.newsletter .emailput{
  width: 100%;
  padding: 21px;
  border:0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 14px;
}

.newsletter .emailput{
  outline: 0;
}

.newsletter p{
  color: #fff;   
  padding: 0 140px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*------------------------ News ------------------------*/   

.anews{
  background: #efefef;
  border-radius: 8px;
  width: 100%;
  padding:60px 40px; 
  display: inline-block;    
  position: relative;
  overflow: hidden;
  color: #000000;
  margin-bottom: 30px;
}

.anews:hover, anews:focus{
  color: #000;
}

.anews .date{
  margin-bottom: 45px;
}

.anews .date .big{
  font-size: 70px;
  font-weight: 800;
  line-height: 38px;
}

.anews .date .little{
  font-size: 13px;
  font-weight: 600;
}

.anews .title{
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 26px;
  line-height: 32px;
}

.anews .category{
  font-weight: 700;
  line-height: 52px;
}

.anews:hover > .image{
  opacity: 1;
}

.anews .image{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  transition: opacity ease 0.4s;
  -webkit-transition: opacity ease 0.4s;
  -moz-transition: opacity ease 0.4s;
  -ms-transition: opacity ease 0.4s;
  -o-transition: opacity ease 0.4s;
}

/* news article */

.subpage{
  padding-top:160px;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
}

input.inp{
  width: 100%;
  margin-bottom: 30px;
  border:solid 3px #212121;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  height: 54px;
  font-size: 13px;
  padding-left: 15px;
  outline: 0;
}

textarea.form-message{
  width: 100%;
  margin-bottom: 30px;
  border:solid 3px #212121;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  font-size: 13px;
  padding: 15px;
  outline: 0;
}


.news-article .article-image img{
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
  -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}

.news-article .title{
  font-size: 45px;
  font-weight: bold;
  padding: 10px 0;
}

.news-article .information{
  font-size: 13px;
  color: #000;
}

.dark .news-article .information, .dark .news-article .title,.dark .news-article blockquote, .subtitle, .article-comments .comment-content .title{
  color: #fff;
}

.dark .article-comments .comment {
  border-bottom: solid 1px #2d2d2d;
}

.dark input.inp, .dark textarea.form-message {
  border: solid 3px #ffffff;
  background: #000;
}

.dark input.inp::placeholder{
  color: #fff;
}

.news-article .information span{
  color: #adadad;
}

.news-article p{
  line-height: 30px;
}

.news-article .category{
  font-weight: bold;
}

.article-lightbox figure img{
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
  -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15); 
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.news-article blockquote{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.article-comments .comment{    
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 30px;
}

.article-comments .comment:last-child{    
  border: none;
}

.article-comments .comment.reply{    
  padding-left: 60px;
}

.article-comments .comment figure img{
  width: 100%;    
  border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
  -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);

}

.article-comments .comment-content .title{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.article-comments .comment-content .date{
  color: #818080;
  font-size: 13px;
}

.article-comments .comment-content p{
  color: #818080;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 15px;
}

.article-comments .comment-content .reply{
  font-size: 13.5px;
}

.article-comments .comment-content .reply:hover{
  text-decoration: none;
  color: #000;
  transition: all ease 0.3s;
}

.article-comments .comment-content .reply:before{    
  content: "\f3e5";
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 7px;
  font-size: 13.5px;
}

.article-video iframe{
  width: 100%;
  height: 470px;
}

.article-slider img{
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
}


/*------------------------ Contact ------------------------*/   

.contact-map{
  width: 100%;
}

.contact-map iframe{
  width: 100%;
}

.getintouch .contact-info .info i, .getintouch .contact-info .info a, .getintouch .contact-info .info p{
  color: #000;
  display: block;
}

.getintouch .contact-info .info i{
  font-size: 26px;
  margin-bottom: 20px;
}

.getintouch .contact-info .info p{
  font-size: 14px;
  margin-top: 6px;
  opacity: .6;    
  font-weight: 300;
}

.getintouch .contact-info .info a{
    font-size: 15px;
    font-weight: 500;
}


.getintouch .contact-info .info p.text{
    opacity: 1;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0;
}

.form-inp {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 100%;
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 45px;
}

.form-inp::placeholder, textarea::placeholder, .emailput::placeholder{
  color: #000;
}


.contact-form textarea {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 100%;
    color: #000;
    font-size: 15px;
}

.form-inp:focus, .contact-form textarea:focus{
  border-bottom: solid 2px #000;
}

textarea::placeholder, .form-inp::placeholder {
  color: #000;  
  font-family: 'Poppins', sans-serif;
}

footer{
  position: fixed;
  background: #000;
  border-top: solid 1px #212121;
  padding: 70px 0;    
  bottom: 0;
  width: 100%;
}

footer .copyright img{
  max-height: 35px;
}

.copyright p{
  font-size: 13px;
  opacity: .7;
  color: #fff;
  margin-bottom: 0;
}  

.ftr-social{
  text-align: center;
}

.ftr-social .social{
  margin-top: 15px;
}

.ftr-social .social a{
  background: rgba(255, 255, 255, 0.15);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  width: 41px;
  margin-right: 10px;
  font-size: 14px;
}

.ftr-social .social a:hover{
  background: rgba(255, 255, 255, 0.30);
  transform: rotate(360deg);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}


footer .getintouch .title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

footer .getintouch{
  text-align: right;
}

footer .getintouch p {
  font-size: 13px;
  opacity: .7;
  color: #fff;
  line-height: 15px;
  margin-bottom: 0;
}

.dark, .dark .wrapper{
  background:#000;
}



.dark .about .text p, .dark .section-title .title, .dark .second-title, .dark .about .infos .info p, .dark .services .service p, .dark .service i:before, .dark .counter-value, .dark .testimonials .item p, .dark .testimonials .item .title, .dark .getintouch .contact-info .info i, .dark .getintouch .contact-info .info a, .dark .getintouch .contact-info .info p, .dark .anews .date, .dark .anews .title, .dark textarea::placeholder, .dark .form-inp::placeholder, .dark .portfolio_filter ul li a {
  color: #fff;
}

.graybg .testimonials .outitem, .graybg .anews, .graybg .service{
  background: #fff;
}

.dark .counter {
  border-top: solid 1px #2b2b2b;
}

.dark .graybg{
  background: #191919;
}

.dark .graybg .service{
  background: #000;
}

.dark  .service{
  background: #191919;
}


.dark .testimonials .outitem{
  background: #191919;
}

.dark .anews{
  background:#2b2b2b;
}

.dark .graybg .testimonials .outitem, .dark .graybg .anews {
  background: #000;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bx-wrapper{
  border-top: solid 1px #dfdfdf;
  border-left: 0;
  border-right:0;
  border-bottom:0;
  padding-top: 20px;
  margin-top: 90px;
  box-shadow: none;
  background: none;
  margin-bottom: 0;
}

.dark .bx-wrapper{
  border-top: solid 1px #5f5f5f;
}

.contact{
  padding-bottom:20px;
}


/*------------------------ Color ------------------------*/   


.slider-content span:before, .site-btn, .section-title:before, .swiper-pagination-bullet-active{
  background: #ff0e2a;
}


.section-title span, .counter .title, .testimonials .item span, .anews .category, .article-comments .comment-content .reply, .news-article .category{
  color: #ff0e2a;
}

.service:hover{
  background: #ff0e2a !important;
}

.site-btn:hover{
  background: #e80000;
}

.nav-icon{
  display: none;
}
/*------------------------ Responsive ------------------------*/   

@media screen and (min-width: 1680px) {

  .container {
      width: 1250px;
  }

}


@media screen and (max-width: 1024px) {
  header nav{
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  .nav-icon{
    display: inline;
  }

  header.open > nav{
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

  header nav ul li{
    float: none;
    margin: 0;
  }

  header.open > nav{
    text-align: center;
    background: #000;
    position: absolute;
    width: 100%;
    top: 69px;
    left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 30px;
  }

  .slider-content h1 {
    font-size: 100px;
    line-height: 110px;
  }

  .section-title .title {
    font-size: 35px;
  }

  .counter-value {
    font-size: 40px;
    font-weight: 700;
    float: left;
  }

  .counter .title {
    padding-top: 11px;
  }

  .news-article .title {
    font-size: 32px;
}

}



@media screen and (max-width: 768px) {
  header{
    padding-left: 10px;
    padding-right: 10px;
  }
  ul > li {
    margin-left: 1rem;
  }
  .container{
    width: auto;
  }

  .hero.video{
    background-image:url(../img/video-mobile.jpg);
  }

  .news-article{
    margin-bottom: 90px;
}

.comment figure img{
  display: none;
}

.comment.reply.top_45{
  margin-top: 0;
}

.comment.reply{
  padding-left: 0 !important;
}

  .slider-content h1 {
    font-size: 80px;
    line-height: 90px;
  }

  .about .text{
    margin-bottom: 90px;
  }

  .counter-value {
    font-size: 30px;
  }

  .counter .title {
    padding-top: 8px;
    font-size: 11px;    
    line-height: 14px;
    padding-left: 7px
  }

  .portfolio_filter{
    margin-top: 0;
    float: left;
    margin-bottom: 30px;
  }

  .portfolio .section-title {
    padding-bottom: 8px;
  }

  .newsletter p {
    padding: 0 60px;
  }

  .anews{
    margin-bottom: 30px;
  }

  .contact-form{
    margin-top:50px;
  }

  body {
    padding-bottom: 290px;
} 

footer{
  padding: 40px 0;
}

.copyright{
  text-align: center
}

footer .getintouch {
  text-align: center;
  margin-top: 31px;
}

.ftr-social {
  text-align: center;
  margin: 10px 0;
}

.ftr-social .social a:last-child{
  margin-right: 0;
}


.about .info{
  margin-bottom: 30px;
}

.about .info:last-child{
  margin-bottom:0;
}

.news-article .title {
  font-size: 30px;        
  line-height: 38px;
}

}

@media screen and (max-width: 414px) {

.slider-content h1 {
  font-size: 50px;
  line-height: 50px;
}

.slider-content span {
  font-size: 15px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom:110px;
  display: none;
}

.hero .social {
  left: 39px;
  right: 0;
  text-align: left;
}

.about .text p {
  padding-right: 5px;
}

.infos{
  margin-top:30px;
}

.count{
  display: inline;
  width: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.site-btn{
  padding: 10px 33px;
}

.hero .social a {
  margin-left: 0;
  margin-right: 15px;
}

section {
  padding: 40px 0;
}

.anews .title {
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 19px;
  line-height: 29px;
} 

.anews .category {
  font-size: 13px;
}

.anews .date {
  margin-bottom: 25px;
}

.hero .static-image .slider-content {
  transform: translateX(-63px);
}

.hero .static-image + .social {
  left: auto;
  right: 26px;
  text-align: left;
}

.news-article .title {
  font-size: 25px;
}


}



@media screen and (max-width: 320px) {

.hero .static-image + .social {
  display: none;
}

.slider-content h1 {
  font-size: 40px;
  line-height: 50px;
}
}