<!-- FOOTER
================================================== -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="col-lg-4 copyright">
                <a href="index.html"><img src="img/logo.png" alt=""></a>
                <p>© 2019 Formale Systeme by ArtemSer.</p>
            </div>
            <!-- Social -->
            <div class="col-lg-4 ftr-social">
                <div class="social">
                    <a href="https://github.com/ArtemSer"><i class="fab fa-github"></i> </a>
                    <a href="https://twitter.com/Artem__Ser"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                    <a href="https://instagram.com/artem.ser"><i class="fab fa-instagram" aria-hidden="true"></i> </a>
                </div>
            </div>
            <!-- Get In Touch -->
            <div class="col-lg-4 getintouch">
                <h3 class="title">Get In Touch</h3>
                <p>artem.sierikov@gmail.com</p>
            </div>
        </div>
    </div>
</footer>