<footer class="footer">
    <div class="footer-content center-relative">
        <img class="footer-logo" src="{{ site.url }}{{ site.baseurl }}/assets/img/utils/divider_01.png">
        <div class="copyright-holder content-1170 center-relative">
            © 2019. Made by <a href="https://artemser.tk/" target="_blank">ArtemSer.</a>
        </div>

        <div class="social-holder content-1170 center-relative">
            <a href="https://twitter.com/Artem__Ser" target="_blank">
                <span class="fa fa-twitter"></span>
            </a>
            <a href="https://www.linkedin.com/in/artemser/" target="_blank">
                <span class="fa fa-linkedin"></span>
            </a>
            <a href="https://www.instagram.com/artem.ser/" target="_blank">
                <span class="fa fa-instagram"></span>
            </a>
            <a href="https://github.com/artemser/" target="_blank">
                <span class="fa fa-github"></span>
            </a>
        </div>
    </div>
</footer>
