---
layout: core
---
<div class="blog-holder block center-relative bottom-150">

    {% for article in page.articles %}

    <article class="animate relative blog-item-holder">
        <div class="entry-holder">
            <div class="entry-info">
                <div class="entry-date published">
                    {{article.amount}} Subthemen
                </div>
            </div>
            <h2 class="entry-title">
                <a href="{{article.link}}">
                    {{article.title}}
                </a>
            </h2>
        </div>
        <div class="post-thumbnail">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{page.title}}/{{forloop.index}}.jpg" alt="">
        </div>
    </article>

    {% endfor %}

</div>