---
layout: core
---
<div class="wrapper">
    <!-- ARTICLE
    ================================================== -->
    <section class="subpage">
        <div class="container">
            <article class="news-article">
                <figure class="article-image bottom_30">
                    <img src="img/blog-article.jpg" alt="">
                </figure>
                <small class="category">{{page.type}}</small>
                <h1 class="title">{{page.title}}</h1>
                <div class="information bottom_30">{{page.data}}, <span>2019</span></div>
                {{content}}
            </article>

        </div>
    </section>


</div>