---
layout: core
---

<div id="content" class="site-content">
  <div class="section-wrapper">

    <h1 class="entry-title page-title block content-1170 center-relative">
      Du kannst dieses <b>Projekt</b> verbessern
    </h1>

    <img class="title-logo center-relative block" src="{{ site.url }}{{ site.baseurl }}/assets/img/utils/divider_01.png" alt="">

<!--    <div class="content-wrapper block content-1170 center-relative">-->
<!--      <div class="one_half">-->
<!--        text -->
<!--      </div>-->
<!--      <div class="one_half last">-->
<!--       text 2 -->
<!--      </div>-->
<!--      <div class="clear"></div>-->
<!--    </div>-->

    <div class="content-wrapper block content-1170 center-relative">

      <div class="one_third">
        <div class="service-item center-text relative">
          <img class="service-icon" src="/assets/img/icons/icon_4.png" alt="" />
          <h3 class="service-title">
            Fehler finden
          </h3>
          <div class="service-content">
            Du kannst den Fehler finden entweder mir informieren oder mit Pull-Request korrigieren.
          </div>
        </div>
      </div>

      <div class="one_third">
        <div class="service-item center-text relative">
          <img class="service-icon" src="/assets/img/icons/icon_5.png" alt="" />
          <h3 class="service-title">
            Besser Code
          </h3>
          <div class="service-content">
            Du kannst neue Abstraktionen für Komponenten machen oder Struktur / Styles / JS / DOM refaktoren
          </div>
        </div>
      </div>

      <div class="one_third last">
        <div class="service-item center-text relative">
          <img class="service-icon" src="/assets/img/icons/icon_3.png" alt="" />
          <h3 class="service-title">
            Neue Ideen
          </h3>
          <div class="service-content">
            Du kannst auch neue Ideen in Mail sagen, oder selbst implementieren und im Pull-Request senden.
          </div>
        </div>
      </div>

      <div class="block center-relative center-text more-posts-portfolio-holder">
        <a href="mailto:artem.sierikov@gmail.com" class="more-posts-portfolio">SCHREIB EIN E-MAIL</a>
        <p>Andere Kontakte findest du unten.</p>
      </div>

    </div>
  </div>
</div>
