---
layout: core
---


<div class="section-wrapper">

    <h1 class="entry-title page-title block content-1170 center-relative">
        Hallo, mein Freund. <br>
        Das ist <b>Formale Systeme</b> Webscript.
    </h1>

    <img class="title-logo center-relative block"
         src="{{ site.url }}{{ site.baseurl }}/assets/img/utils/divider_01.png" alt="">

    <div class="full-page-width center-relative">
        <div id="portfolio-wrapper">
            <ul class="grid" id="portfolio-grid">
                <li class="grid-sizer"></li>

                <li class="grid-item element-item p_one_third">
                    <a class="item-link" href="/endliche/">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/backgrounds/endliche.png"/>
                        <div class="portfolio-text-holder">
                            <p class="portfolio-title">
                                Endliche Automaten
                            </p>
                            <p class="portfolio-desc">
                                Fünf Themen
                            </p>
                        </div>
                    </a>
                </li>

                <li class="grid-item element-item p_one_third">
                    <a class="item-link" href="/keller/">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/backgrounds/keller.png"/>
                        <div class="portfolio-text-holder">
                            <p class="portfolio-title">
                                Kellerautomaten
                            </p>
                            <p class="portfolio-desc">
                                Fünf Themen
                            </p>
                        </div>
                    </a>
                </li>

                <li class="grid-item element-item p_one_third">
                    <a class="item-link" href="/turing/">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/backgrounds/turing.png"/>
                        <div class="portfolio-text-holder">
                            <p class="portfolio-title">
                                Turingmaschine
                            </p>
                            <p class="portfolio-desc">
                                Zwei Themen
                            </p>
                        </div>
                    </a>
                </li>

            </ul>
            <div class="clear"></div>
        </div>

        <div class="block center-relative center-text more-posts-portfolio-holder">
            <p class="more-posts-portfolio">ÜBER DIESES PROJEKT</p>
        </div>
    </div>

    <div class="content-1170 center-relative top-70">
        <div class="one_half">
            <strong>Support</strong>
            <br>
            Wenn Sie diese Web-Seite cool finden, dann können Sie dem Entwickler ein Gefallen tun und ein Stern auf
            <a href="https://github.com/ArtemSer" target="_blank">Github Repo</a> setzen.
        </div>

        <div class="one_half last">
            <strong>License</strong>
            <br>
            You probably haven’t heard of them before they sold out scenester literally readymade. Trust fund
            Thundercats flexitarian,
            aesthetic Tumblr banjo freegan semiotics biodiesel master cleanse.
        </div>
        <div class="clear"></div>
    </div>
</div>
